<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>userId</th>
        <th>password</th>
        <th>nickname</th>
        <th>email</th>
        <th>address</th>
    </tr>
    <tr>
        <td th:text="${member.userId}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.nickname}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.address}"></td>
    </tr>
</table>
</body>
</html>