<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/CSS/homePage.css" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<div id="container">
    <div id="header">
        <div id="headerLogo">
            <h2>게시판</h2>
        </div>
        <div id="headerMenu">
            <a href="/logIn">로그인</a>
            <a href="/signUp">회원가입</a>
            <a href="/findIdPw">아이디 / 비밀번호 찾기</a>
        </div>
    </div>
    <div id="main">
        <div id="leftAside"></div>
        <div id="mainCenter">
            <button onclick="toSave()">글작성</button>
            <button onclick="toList()">글목록</button>
            <button onclick="toPaging()">글목록</button>
        </div>
        <div id="rightAside"></div>
    </div>
    <div id="footer"></div>
</div>
</body>
<script th:src="@{/js/script.js}"></script>
</html>