<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/CSS/signUpPage.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<h1>회 원 가 입 !!!!</h1>
<div id="container">
    <div id="main">
        <form action="/signUp" method="post" th:object="${formData}">
            <table>
                <tr>
                    <td>아이디</td>
                    <td>
                        <label><input id="userId" name="userId" th:value="*{userId}" type="text"/></label>
                    </td>
                </tr>

                <tr>
                    <td>비밀번호</td>
                    <td>
                        <label><input id="password" name="password" th:value="*{password}" type="password"/></label>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>
                        <label><input id="userName" name="userName" th:value="*{userName}" type="text"/></label>
                    </td>
                </tr>
                <tr>
                    <td>닉네임</td>
                    <td>
                        <label><input id="nickname" name="nickname" th:value="*{nickname}" type="text"/></label>
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <label><input id="email" name="email" th:value="*{email}" type="text"/></label>
                    </td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <label><input id="address" name="address" th:value="*{address}" type="text"/></label>
                    </td>
                </tr>
            </table>
            <button type="submit">등록하기</button>
            <h1 th:text="${formData.userId}"></h1>
            <h1 th:text="${formData.password}"></h1>
            <h1 th:text="${formData.nickname}"></h1>
        </form>
    </div>
</div>
</body>
</html>
